.button {
    all: unset;
    width: 14px;
    height: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .delete {
    background-image: url(../../image/close.svg);
  }