.checkbox_conteiner {
  display: flex;
  margin: 0px 70px 10px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  padding: 0px 0px 40px;
  .checkbox {
    width: 36px;
    height: 20px;
    background-size: 100% 100%;
    margin-right: 10px;
    cursor: pointer;
    transition: filter 0.5s linear;
  }
  .checkbox:hover {
    filter: drop-shadow(3px 3px #8d9190);
  }
  .checkbox_on {
    background-image: url(.././../../image/smalltumb.png);
  }
  .checkbox_off {
    background-image: url(.././../../image/smalltumboff.png);
  }
  p {
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .checkbox_conteiner {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 320px) {
  .checkbox_conteiner {
    margin-left: 14px;
    margin-right: 14px;
  }
}
