.conteiner {
  width: 396px;
  margin: auto;
  padding: 70px 0px 70px;
  h1 {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0px 0px 40px;
  }
  @media screen and (max-width: 480px) {
    h1 {
      text-align: center;
      margin-bottom: 80px;
    }
  }
  .logo {
    background-image: url(../../image/logo__COLOR_main-1.svg);
    width: 38px;
    height: 38px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: filter 0.5s linear;
  }
  .logo:hover {
    filter: drop-shadow(3px 3px #8d9190);
  }
  @media screen and (max-width: 480px) {
    .logo {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
    }
  }
}

@media screen and (max-width: 768px) {
  .conteiner {
    padding-top: 232px;
    padding-bottom: 232px;
  }
}

@media screen and (max-width: 480px) {
  .conteiner {
    width: 260px;
    padding-top: 56px;
    padding-bottom: 30px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  .input_conteiner {
    min-height: 270px;
    display: flex;
    flex-direction: column;
    label {
      color: #a0a0a0;
      font-family: 'Inter', Arial, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 10px;
    }
    span {
        min-height: 12px;
        font-family: 'Inter', Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: #ff3055;
        padding-top: 10px;
      }
    input {
      all: unset;
      font-family: 'Inter', Arial, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      background: #f9f9f9;
      border-radius: 8px;
      padding: 15px;
    }
    .input_password {
      color: #ff3055;
    }
  }
  button {
    all: unset;
    margin: 69px 0px 0px;
    width: 100%;
    height: 45px;
    text-align: center;
    background: #3456f3;
    border-radius: 3px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    transition: opacity 0.3s linear;
  }
  .button_off {
    background: #c8cddf;
    cursor: default;
  }

  button:hover {
    opacity: 0.7;
  }

  .button_off:hover {
    opacity: 1;
  }

  @media screen and (max-width: 480px) {
    button {
      margin-top: 157px;
      font-size: 12px;
      line-height: 15px;
    }
  }
  .err_massege {
    min-height: 12px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #ff3055;
    padding-top: 0px;
    text-align: center;
  }
}

.button_auth {
  display: flex;
  justify-content: center;
  p {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  @media screen and (max-width: 480px) {
    p {
      font-size: 12px;
      line-height: 15px;
    }
  }
  .discription {
    color: #a0a0a0;
    margin: 0px 6px 0px 0px;
  }
  .button_login {
    margin: 0;
    color: #3456f3;
    cursor: pointer;
    transition: opacity 0.2s linear;
  }
  .button_login:hover {
    opacity: 0.7;
  }
}
