.title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 74px 0px 105px;
}
@media screen and (max-width: 768px) {
  .title {
    margin-top: 236px;
    margin-bottom: 83px;
  }
}
@media screen and (max-width: 320px) {
  .title {
    margin-top: 70px;
    margin-bottom: 80px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  width: 410px;
  margin: auto;
  label {
    width: min-content;
    position: relative;
    top: 14px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
  }
  input {
    all: unset;
    width: 410px;
    margin: auto;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
  }
  @media screen and (max-width: 320px) {
    input {
      width: 260px;
    }
  }

  .span {
    min-height: 12px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #ff3055;
    border-bottom: 1px solid #e8e8e8;
  }

  .span_email {
    border-bottom: none;
  }

  .span_err_request {
    min-height: 24px;
    border-bottom: none;
    margin-top: 50px;
    text-align: center;
  }

  .span_seccses {
    color: rgb(27, 148, 35);
    font-size: 15px;
  }

  button {
    all: unset;
    margin: 146px 0px 16px;
    text-align: center;
    cursor: pointer;
    transition: text-shadow 0.3s linear;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
  }
  button:hover {
    text-shadow: 1px 1px #524e4e;
  }

  .button_off {
    cursor: default;
    opacity: 0.5;
  }

  .button_off:hover {
    text-shadow: 0px 0px rgba(19, 1, 1, 0.3);
  }

  @media screen and (max-width: 768px) {
    button {
      margin-top: 136px;
      font-size: 12px;
      line-height: 15px;
    }
  }
  @media screen and (max-width: 320px) {
    button {
      margin-top: 305px;
    }
  }
}
@media screen and (max-width: 320px) {
  .form {
    width: 260px;
  }
}
.sign_out {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ff3055;
  transition: text-shadow 0.3s linear;
  cursor: pointer;
  margin: 0px 0px 70px;
}

.sign_out:hover {
  text-shadow: 1px 1px #524e4e;
}

@media screen and (max-width: 768px) {
  .sign_out {
    margin-bottom: 269px;
  }
}

@media screen and (max-width: 320px) {
  .sign_out {
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 15px;
  }
}
