.conteiner {
  padding: 70px 70px 0px;
}
.conteiner_saveMovies {
  height: 220px;
}

@media screen and (max-width: 768px) {
  .conteiner {
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
